{% if messages %}
<table>
  <tr>
    <th>ID</th>
    <th>Message</th>
    <th>Author</th>
    <th>Sent</th>
    <th>Delete</th>
  </tr>
  {% for msg in messages %}
  <tr>
    <td>{{msg.id}}</td>
    <td>{{msg.message}}</td>
    <td>{{msg.author}}</td>
    {% if not msg.sent %}
    <td><a href="{% url 'viewmessage' msg.id %}">Send</a></td>
    {% else %}
    <td>None</td>
    {% endif %}
    <td><a href="{% url 'deletemessage' msg.id %}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<br />
{% if user.is_authenticated %}
<h2>Hi {{ user.username }}!</h2>
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a> |
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
<h3><a href="{% url 'index' %}">New Message</a></h3>
