{% if messages %}
<table>
  <tr>
    <th>ID</th>
    <th>Message</th>
    <th>Author</th>
    <th>Sent</th>
    <th>Delete</th>
  </tr>
  {% for msg in messages %}
  <tr>
    <td>{{msg.id}}</td>
    <td>{{msg.message}}</td>
    <td>{{msg.author}}</td>
    {% if not msg.sent %}
    <td><a href="{% url 'viewmessage' msg.id %}">Send</a></td>
    {% else %}
    <td>None</td>
    {% endif %}
    <td><a href="{% url 'deletemessage' msg.id %}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
{% endif %}
